body {
  background: rgb(220,217,248);
  background: linear-gradient(180deg, rgba(220,217,248,1) 20%, rgba(181,220,249,1) 80%);
}

.tablero{
  width: 416px;
  height: 416px;
  margin-left: 33%;
}

.tablero div{
  width: 50px;
  height: 50px;
  border: 1px solid white;
  float: left;
  background-color: #e5bedd;
  text-align: center;
}

h1 {
  text-align: center;
  padding: 40px;
}

.gifleft {
  position: fixed;
  left: 0;
}

.gitright {
  position: fixed;
  right: 0;

}
