.tablero{
  width: 416px;
  height: 416px;
  margin: 3%;
  color: purple;
}

.tablero div{
  width: 50px;
  height: 50px;
  border: 1px solid white;
  float: left;
  background-color: #e5bedd;
  text-align: center;
}

.gifleft {
  position: fixed;
  left: 0;
}

.gitright {
  position: fixed;
  right: 0;

}
